.h-wrapper {
  overflow: hidden;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(173, 83, 137),
    rgb(60, 16, 83)
  );
}
.h-wrapper .container {
  padding-top: 3rem;
}
.h-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  padding: 1rem;
}

.h-right {
  flex: 1;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.h-left {
  flex: 1;
  gap: 2rem;
  display: flex;
  padding-top: 5rem;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.image-row {
  display: flex;
  gap: 2rem;
}
.person-pill {
  width: 8rem;
  height: 18rem;
  border-radius: 99rem;
  overflow: hidden;
}
.person-pill-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 99rem;
}
.person-pill-bg > img {
  width: 100%;
  scale: 2;
  margin-top: 4rem;
  object-fit: cover;
}
.image-row > :nth-child(2) {
  transform: translateY(-6rem);
}

.h-title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--third-color);
  font-size: 3rem;
  font-weight: bold;
}
.h-desc {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 2rem;
}

.m-get-started {
  width: 200px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem 0rem;
  border-radius: 999px;
  color: var(--dark-bg);
}

@media (max-width: 1024px) {
  .h-wrapper {
    height: 100vh;
    margin-bottom: 13rem;
  }
  .h-container {
    gap: 4rem;
    margin-bottom: 10rem;
    padding-top: 3rem;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
  }
  .h-right {
    flex: 1;
    align-items: center;
  }
  .h-title {
    align-items: center;
    font-size: 2.2;
  }
  .h-desc {
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .h-wrapper {
    margin-bottom: 20rem;
  }
}
